<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
      <div id="sidebar" class="popout-sidebar">
        <%= render partial: "search/common/facet_sidebar", locals:  { resources: @zenodomaterials_results, resource_type: Zenodomaterial } %>
      </div>
  <% end %>

  <div id="content">
    <div class="row">
      <%= link_to new_zenodomaterial_path, class: 'btn btn-primary' do %>
        <i class="fa fa-plus-square"></i> Register training zenodo material
      <% end %>
      <%= render partial: 'subscriptions/subscribe_button', locals: { type: 'Zenodo material' } %>
      <div class="pull-right">
        <%= info_button('What are Zenodo materials in this catalogue?') do %>
            <%= render_markdown(MaterialsHelper::ZENODO_MATERIALS_INFO) %>
        <% end %>
      </div>
    </div>

    <% if TeSS::Config.solr_enabled %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: { resource_path: zenodomaterials_path } %>
          <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
            <i class="fa fa-filter"></i> Filters
          </button>
        </div>
        <div class="row">
          <%= render partial: "search/common/sort_by", locals: { resources: @zenodomaterials, extras: [['Most recent', 'new']] } %>
          <%= render partial: "search/common/search_info", locals: { resources: @zenodomaterials_results, resource_type: 'Zenodo material' } %>
          <%= render partial: "search/common/search_filters", locals: { resources: @zenodomaterials_results } %>
        </div>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @zenodomaterials } %>

    <hr>

    <%= render @zenodomaterials %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @zenodomaterials } %>

  </div>
</div>
