<%- model_class = Zenodomaterial -%>
<div class="row wrapper">
  <div class="col-md-12">
    <div class="page-header">
      <%= page_title(t('.title', :default => [:'helpers.titles.newversion', 'New version %{model}'], :model => model_class.model_name.human.titleize.downcase), :style => "display:inline-block;") %>
      <%= image_tag("zenodo-black-200.png", style: 'display:inline-block;float:right;') %>      
    </div>
    <div class="col-md-4 col-md-push-8">
      <%= render :partial => "zenodomaterials/partials/general_zenodomaterial_info" %>
      <%= render :partial => "common/field_lock_info" %>
    </div>
    <div class="col-md-8 col-md-pull-4">
      <%= render :partial => 'formnewversion' %>
    </div>
  </div>
</div>
