<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @user, url: zenodochoiceupdate_path(@user), html: { class: "form-horizontal profile" } do |user_f| %>
        <%= user_f.simple_fields_for :profile do |f| %>

            <%= render partial: 'common/error_summary', locals: { resource: @user.profile } %>

            <p> <b>checked</b>: Link my Zenodo account to Pan-training.<br>
                <b>unchecked</b>: Use PaN-training's Zenodo account.<p><br>
            <%= f.input :zenodotokenchoice, as: :boolean, label: 'Link' %>

        <% end %>
        
        <%#This will be shown even if the user has already clicked on it. Shouldn't lead to a problem.  %>        
                <div class="zenodobutton hidden">
                   <div>
                    <p>Link your Zenodo account to your Pan-training account by clicking the <b>Zenodo logo</b> below if you haven't already: </p><br>
                    <%= link_to image_tag("zenodo-black-200.png"), Rails.application.config_for(:tess)["zenodo"][:url]+"oauth/authorize?scope=deposit:write+deposit:actions&state=CHANGEME&redirect_uri="+Rails.application.config_for(:tess)["zenodo"][:redirect_uri]+"&response_type=code&client_id="+Rails.application.config_for(:tess)["zenodo"][:client_id], :id => 'zenodo_choice_button' %>
                    </div>                    
                    <div>
                <p>Or, if the above is already done, refresh the connection to your Zenodo account by clicking the <b>refresh button</b> below. This should be done every hour. </p><br>
                <%= link_to '<span class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Refresh</span>'.html_safe, zenodowebhook_path, method: :put, remote: true                          %>                          
                    </div>                      
                </div>
                        
        <div class="panzenodo form-group">
          <p>Use PaN-training's Zenodo account by clicking <b>Update profile</b>: </p><br>
          <%= user_f.submit 'Update profile', class: 'btn btn-primary' %>
          <%= link_to 'Back', :back, class: "btn btn-info" %>
          <%= link_to t('.cancel', default: t("helpers.links.cancel")), user_path(@user), class: 'btn btn-default' %>
        </div>
    <% end -%>
  </div>
</div>

<script>
$( "#user_profile_attributes_zenodotokenchoice").change(function() {
    console.log("change check");
    if ($("#user_profile_attributes_zenodotokenchoice")[0]["checked"]) {
        //console.log("checked");
        $(".zenodobutton").removeClass("hidden");
        $(".panzenodo").addClass("hidden");
    } else {
        //console.log("not checked");
        $(".zenodobutton").addClass("hidden");
        $(".panzenodo").removeClass("hidden");
    }  
  
});
</script>  

<script type="text/javascript">
document.addEventListener("turbolinks:load", function() {
    console.log("load");
    if ($("#user_profile_attributes_zenodotokenchoice")[0]["checked"]) {
        //console.log("checked");
        $(".zenodobutton").removeClass("hidden");
        $(".panzenodo").addClass("hidden");
    } else {
        //console.log("not checked");
        $(".zenodobutton").addClass("hidden");
        $(".panzenodo").removeClass("hidden");
    }  
      
    
});
</script>

