<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Training Catalogue",
  "alternateName": "The <%= TeSS::Config.generic_name%>",
  "url": "<%= root_url%>",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "<%=root_url%>search?utf8=%E2%9C%93&q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "<%= root_url%>",
  "logo": "<%= image_url "expands.png" %>"
}
</script>

<div id="landing-container", class="container-fluid">
  <div class="divone">
      <div class="divone-half-left">
        <%= image_tag("PaN-training_color_white_large.png", width: "70%", alt: "e-learning") %>
        <h2> The training catalogue for photon & neutron science. <br> Find instructional material from institutes around Europe. </h2>
      </div>
      <div class="divone-half-center">
        <div class="searchbox">
            <%= form_tag search_path, method: :get, role: 'search' do %>
              <div class="searchbox-wrapper">
                <input type="text" class="searchbox-field" name="q" placeholder="Search PaN training..." autofocus="autofocus">
                <button type="submit" class="searchbox-btn">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            <% end %>
          </div>
        <div class="browse">
        <%= link_to materials_path do %>
          <div class="browse-icon">
            <i class="fa fa-book"></i></a>
          </div>
          <h4> Materials</h4>
          <it> Find documents, videos and git repos </it>
          <% end %>
        </div>
        <div class="browse">
        <%= link_to events_path do %>
          <div class="browse-icon">
            <i class="fa fa-calendar"></i></a>
          </div>
          <h4> Events</h4>
          <it> Browse events providing by our community </it>
        <% end %>  
        </div>
        <div class="browse">
         <%= link_to workflows_path do %>
          <div class="browse-icon">
            <i class="fa fa-sitemap"></i></a>
          </div>
          <h4> Workflows</h4>
          <it> Guided processes for specific scientific management </it>
          <% end %>
        </div>
        <div class="browse">
        <%= link_to content_providers_path do %>
          <div class="browse-icon">
            <i class="fa fa-university"></i></a>
          </div>
          <h4> Providers</h4>
          <it> Browse by the institue providing content </it>
          <% end %>
        </div>
      </div>
  </div>

  <div class="divtwo-background">
   <div class="pan-line"></div> 
    <div class="wrapper">
      <div class="divtwo">
        <div class="divtwo-half-left">
          <div class="elearning">
            <div class="elearning-icon">
              <a href="https://pan-learning.org/" class="fas fa-laptop"></a>
            </div>
            <h4> Access Courses </h4>
          </div>
          <div class="elearning">
            <div class="elearning-icon">
              <a href="https://pan-learning.org/wiki/index.php/Main_Page" class="fab fa-wikipedia-w" ></a>
            </div>
            <h4> PaN-wiki </h4>
          </div>
          <div class="elearning">
            <div class="elearning-icon">
              <a href="https://pan-learning.org/moodle/login/index.php" class="fas fa-sign-in-alt" ></a>
            </div>
            <h4> Log on </h4>
          </div>
        </div>
        <div class="divtwo-half-next">
          <h1> E-Learning Courses </h1>
          <h2> Online interactive courses on the thoery of PaN science <br> along with experimental data reducation and analysis. </h2>
          <h2> <i class="fab fa-python"></i> Practice data reduction and analysis. </h2>
          <h2>  <i class="fab fa-docker"></i> Run Jupyter notebooks remotely. </h2> 
        </div>
      </div>  
    </div>
    <div class="pan-line"></div> 
  </div>


</div>



<% if @resources.length > 0 -%>
  <div id="materials-title">
    <h3>Latest Content in our <%= TeSS::Config.generic_name%></h3>
  </div>
  <% @resources.each do |resource| %>
    <%= render layout: 'common/mixed_resources', locals: {resource: resource} do %>
      <% days = ((Time.now - resource.created_at) / 1.day).to_i %>
      <% if days == 0 %>
          <div class="days_ago_text">Added to the catalogue today </div>
      <% else %>
          <div class="days_ago_text">Added to the catalogue <%= pluralize(days, "day") %> ago</div>
      <% end %>
    <% end -%>
  <% end -%>
<% end -%>
  