<div class="legal-block">
  <h1>Privacy Policy</h1>

  <h3>Helmholtz-Zentrum Dresden-Rossendorf e. V. (HZDR) takes the protection of personal data seriously.</h3>

The following privacy policy provides you with information on what personal data <a href="https://www.hzdr.de/db/Cms?pOid=10115&pNid=0">we</a> (the controller as defined in the General Data Protection Regulation) collect when you visit our website <a href='https://pan-training.eu'>pan-training.eu</a> and/or use our online services as well as how we utilize your data. Personal data includes all data with which you can be personally identified. The website is hosted on an internal HZDR server.

  <p>
  Through the following Privacy Policy we provide you with information on what personal data we collect when you visit our website <a href='https://pan-training.eu'>pan-training.eu</a> and/or use our online services and how we utilize your data.
  </p>

  <p>
    When users access our website, data such as the computer's IP address, internet browser used, date, time of day and duration spent on the page is logged for a period of seven days. In principal, this data is only analyzed when technical problems or attacks on our webserver arise. We do not use this data in analysis tools. 

  <p>
    We in no way save or gather additional personal data through this website (such as names, addresses, telephone numbers or email addresses) unless you provide us with such information (for example, if you get in contact with us, utilize the registration form to create own content as well as in the context outlined as follows. Personal data you willingly provide (also in regard to required fields as part of your request) is treated confidentially, serving only to process your request and will not be passed on to third parties without your consent and/or your being informed in regard to that particular form. The website is hosted on a HZDR internal server.
  </p>

  <p>
    Users should be aware that Internet data transfer (e.g., through email communication) can encounter security issues. Complete protection from access by third parties is impossible.
  </p>

  <h3>Links to External Offers</h3>

  <p>
    We link to external websites and to social media providers. The connection is set up in such a way that no data is passed on to the provider of external offers when visiting our internet pages. When clicking on a link or button, you will, however, be sent directly to that external offer. These sites collect and process your data according to their own user guidelines and/or privacy policies, which you can view on the respective sites. We recommend that you read these policies before using the pages. We have no influence on how data is handled on external sites. Information regarding your rights and settings for protecting your privacy can be found in the respective privacy policies.
  </p>

  <h3>Information Submitted</h3>

  <h4>Registration</h4>
  <p>
    When you register with our <%= TeSS::Config.generic_name%> we ask for a username, password and email address.
  </p>
  <ul>
    <li>
      Your username is used for authentication and attribution.
      This information is publicly visible, e.g. when a user views a resource you have created.
    </li>
    <li>
      Your password is stored as a cryptographically-secure hash and is not publicly visible.
    </li>
    <li>
      Your email address is used to confirm your identity and for use when requesting your password to be reset.
      This email address is not publicly visible, but you may specify an additional public email address (see below).
    </li>
  </ul>

  <h4>Additional Personal Information</h4>
  <p>
    You may additionally provide a profile, containing your name, a public email address, website link, orcid and avatar.
    This information is publicly available to all users.
  </p>

  <h4>Creation of Training Catalogue Resources</h4>
  <p>
    The details of any training materials and events that you register will be publicly visible and searchable.
    Any workflows and packages created can be opted to be made private, in which case only you, any collaborators you specify, and the Training Catalogue administrators will be able to view and search for them.
  </p>

  <h3>Information Automatically Collected</h3>

  <h4>Server Logs</h4>
  <p>
    When you browse our <%= TeSS::Config.generic_name%>, the server automatically records logs of which pages you access, when you accessed them, and your IP address for a period of seven days. 
    These logs are used to fix errors and are not shared with any third parties.
    Sensitive information (such as passwords) is automatically stripped out.
    After seven days the server original logs are removed and we use only  anonymized data for analytics as mentioned below.
  </p>

  <h4>Analytics</h4>
  <p>
    The <%= TeSS::Config.generic_name%> uses <a href='https://en.wikipedia.org/wiki/General_Data_Protection_Regulation'>GDPR-compliant analytics</a> to track how and from which previous website (referrer) users are discovering our <%= TeSS::Config.generic_name%> and interacting with the service. Specific session cookies are created for this purpose until the browsing session ends.
    The information gathered includes which pages are visited, which search terms lead you to our <%= TeSS::Config.generic_name%> and information about your web browser.</br>We use IP masking, anonymity sets, and no more cookies as shown <a href="https://github.com/ankane/ahoy/issues/358">here</a>.

    The data stored for a longer period is anonymised and the IP addresses are anonymized with the same approach <a href='https://support.google.com/analytics/answer/2763052'>Google Analytics uses for IP anonymization</a>. This means:
    <ul dir="auto">
      <li>For IPv4, the last octet is set to 0 (<code>8.8.4.4</code> becomes <code>8.8.4.0</code>)</li>
      <li>For IPv6, the last 80 bits are set to zeros (<code>2001:4860:4860:0:0:0:0:8844</code> becomes <code>2001:4860:4860::</code>)</li>
    </ul>
  </p>
  </p>

  <h3>Information Retention</h3>
  <p>
    Your information will be retained by our <%= TeSS::Config.generic_name%> until you choose to remove it, you delete your account, or the <%= TeSS::Config.generic_name%> service ceases to exist.
  </p>

  <h3>Code of Conduct</h3>
  <p>
    The <%= TeSS::Config.generic_name%> adheres to the
    <a href="https://wiki.refeds.org/display/CODE/Code+of+Conduct+for+Service+Providers">
      GÉANT Data Protection Code of Conduct for Service Providers in EU/EEA
    </a>
  </p>

 <h3>Securing Your Data</h3>
  <p>
    To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of information, we have put in place appropriate physical, electronic, and managerial procedures to protect the information we collect online, and to maintain the privacy of any submitted data you mark as private.
  </p>
  
  <br/>

  <h3>Your Rights / Contact Information for Our Data Protection Representative</h3>

  <p>
    For all data protection matters and, in particular, to exercise your rights pursuant to Art. 15 and subsequent articles of the GDPR (information on data processed about you, its origin, recipient and the purpose of processing and, where applicable, a right to correction, restriction of processing or deletion and revocation or objection), you can contact our data protection representative.
  </p>

  <p>
    Prof. Ralph Wagner</br>
    Dresdner Institut für Datenschutz</br>
    Email: dsb[at]hzdr.de
  </p>

  <p>
    Additional contact data can be found at: <a href="https://www.dids.de/">www.dids.de</a>
  </p>
  
  <p>
    Furthermore, if you do not consent to our data processing, you can contact the supervisory authority (Saxon data protection representative, <a href="https://www.saechsdsb.de">www.saechsdsb.de</a>) at any time.
  </p>

  <p>
    <em>
      Your concerns will be treated with confidentiality.
    </em>
  </p>

  <p>
    In case of legal disputes, only the German version of this text is legally binding.
  </p>

</div>
