<link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
<script src="./path/to/video.min.js"></script>
<script src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>

<div class="wrapper">

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: {show: 'home'} %>
  </div>


  <div id="content">
    <div class="about-block">
      <%= render :partial => 'links', :locals => {'show': 'tess'} %>
      <div class="row">

        <div id='trainingregistry' class="h3">The ExPaNDS/PaNOSC Training Catalogue</div>
<br>

  <video
    width=800
    id="video_1"
    class="video-js vjs-default-skin" 
    controls
    preload="auto"
    poster="about/demovideo.png"
    data-setup='{}'>
    <source src="//pan-training.hzdr.de/Catalogue_Demo_720p.mp4" type="video/mp4" selected="true"></source>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
    web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </video>

        <br>

        <p>One of the goals of <%= link_to 'ExPaNDS', 'https://expands.eu', target: '_blank' %>
        (European Open Science Cloud (EOSC) Photon and Neutron Data Service) is to train research scientists to 
        better use available computational RI infrastructures to address critical research questions. 
        This requires access both to face-to-face training opportunities and to disparate training materials 
        and resources, currently dispersed across Europe.
        
         <p> The ambitious ExPaNDS project itself is a collaboration between 10 national Photon and Neutron 
        Research Infrastructures (PaN RIs) as well as EGI. The project aims to deliver standardised, 
        interoperable, and integrated data sources and data analysis services for Photon and Neutron 
        facilities. ExPaNDS collaborates with <%= link_to 'PaNOSC', 'https://www.panosc.eu', target: '_blank' %> 
        (Photon and Neutron Open Science Cloud). </p>
        
         <p> ExPaNDS WP5: Training activities through EOSC platforms will organise workshops and deliver training 
        materials through the e-learning platforms made available on the EOSC. Training will be organised 
        in cooperation with EOSC related activities. </p>

        <p>Our training catalogue, providing a one-stop shop for trainersand trainees to discover
          online information and content, including training materials, events and interactive tutorials.
          the catalogue provides opportunities to promote training events and news, and to contribute
          to a growing catalogue of materials; for trainers, the portal offers an environment for sharing materials
          and event information; for trainees, it offers a convenient gateway via which to identify relevant training
          events and resources, and to perform specific, guided analysis tasks via customised training workflows to provide FAIR research.</p>

        <center>
          <%= image_tag 'about/PaNOSC_FAIR.png', class: "widgets_guide"%>
        </center>

        <!-- EVENTS-->
        <div class="row odd-about-block">
          <div class="col-lg-2 about-resource-icon">
            <%= link_to events_path do %>
            <i class="fa fa-calendar about-icons"></i><br>Discover Events
            <% end %>
          </div>
          <div class="col-lg-10 about-resource">
          <div id='events' class="h4">Events</div>
           <p>Events in our training catalogue are defined as face-to-face or online training opportunities that have set start and end times.
            These primarily take the form of workshops, courses, webinars, etc.; but our training catalogue also collects information about
            conferences, meetings and hackathons, as these may also provide opportunities for learning.</p>
           
            </p>
          </div>
        </div>

        <!-- MATERIALS-->
        <div class="row even-about-block">
          <div class="col-lg-2 about-resource-icon">
              <%= link_to events_path do %>
                <i class="fa fa-book about-icons"></i><br>Discover Materials
              <% end %>
            </div>
            <div class="col-lg-10 about-resource">
              <div id='materials' class="h4">Materials</div>
              <p>Materials in our traing catalogue are defined as training resources that can be accessed at any time. These may be in
                a variety of different formats, including online tutorials, videos, PowerPoint presentations, and so on.</p>
              
              <p>A significant portion of our content is synchronized from the PaNOSC e-lerning platform 
              <a href="https://pan-learning.org" target="_blank">pan-learning.org</a>.</p>
            </div>
        </div>

        <!-- WORKFLOWS -->
        <div class="odd-about-block">
          <div class="row">
            <div class="col-lg-2 about-resource-icon">
              <%= link_to events_path do %>
              <i class="fa fa-sitemap about-icons"></i><br>Discover Workflows
              <% end %>
            </div>
            <div class="col-lg-10 about-resource">
              <div id='workflows' class="h4">Training Workflows</div>
              <p>An essential feature in our traing catalogue are graphical training tools termed 'Training Workflows'. Three main types of workflow are
                in intended: Educational Resources, Learning Pathways and Experiment Maps. These encapsulate different
                types of, and/or approaches to, training, at different levels of granularity, within easy-to-use visual
                displays.</p>
            </div>
          </div>

          <!-- INDIVIDUAL WORKFLOW TYPES-->
          <div class="sub-about-block">
            <div class="h5">Learning Paths</div>
            <p>In order to advance their skills, trainees need to embark on a path, or developmental trajectory. To
              facilitate this journey, learning paths aim to structure, within simple visual workflows, the set of
              relevant training resources that trainees need to study in order to accomplish their learning objectives.</p>
          </div>
          <div class="sub-about-block">
            <div class="h5">Experiment Maps</div>
            <p>ExPaNDS and PaNOSC developed several registries that contain and promote a variety of resources that users can
              exploit: training resources in our catalogue; software tools; various data repositories with experiment data and 
              workflows, standards and policies. Experiment maps provide visual overviews
              of typical data-analysis pipelines, surfacing the relevant tools and databases from these registries,
              and showing how they fit together. Experiment maps are being developed by HZDR and Soleil.</p>
          </div>
          <div class="sub-about-block">
            <div class="h5">Educational Resource</div>
              <p>In this type of workflow, trainees are introduced to various practical tasks, linked to associated
                online tools and/or databases, within self-contained modules. Each module includes i) succinct statements
                of teaching goals and learning outcomes, to convey to trainees what they will be able to do on completion
                of the module; ii) a series of questions or ‘Reflections’ to provoke critical thinking about the tasks
                that have been completed; iii) additional background information and further reading to help support
                learning and enquiry; and iv) multiple choice quiz questions to evaluate understanding at the end.
                .</p>
          </div>

          <center>
            <%= image_tag 'about/workflow.png', class: "widgets_guide"%>
          </center>
        </div>

        <!-- SUBSCRIBE-->
        <div class="row even-about-block">
          <div class="row">
            <div class="col-lg-12">
            <div id='subscribe' class="h3">Subscribe</div>
            <p>
              Our catalogue also provides a subscription feature to help users to stay informed about courses, workshops and
              conferences of interest to them. The service may be customised by selecting the relevant filters, and
              initiated via the subscribe button. Users may choose to receive email notifications about upcoming events,
              or have them automatically added to their preferred calendar application.</p>
              <p>
                The  <%= link_to 'subscriptions manager', subscriptions_path %> page may be used to change the frequency
                of, or to remove, subscriptions.</p>
              
              <center>
                <%= image_tag 'about/subscription-pan.png', class: "widgets_guide"%>
              </center>

          </div>
          </div>
        </div>

        <!-- WIDGET & API -->
        <div class="row odd-about-block">
          <div class="row">
            <div class="col-lg-12">
              <div id='widget' class="h3">Widget & API</div>
              <p>To access our catalogues data, organisations may readily import information about relevant events and materials
                to their site using widgets, or may create custom feeds using our API.</p>
              <%= link_to 'Learn more about Widgets', developers_path(:anchor => "widgets"), class: 'btn btn-primary' %>
              <%= link_to 'Learn more about our API', developers_path(:anchor => "api"), class: 'btn btn-primary' %>
          </div>
          </div>
        </div>
    </div>
      <%= render :partial => 'links', :locals => {'show': 'tess'} %>
  </div>
  </div>
</div>