<% index ||= 'replace-me-bcontributor' %> <%# This is so we can render a blank version of this sub-form in the page, %>
                             <%# which can be dynamically cloned using JavaScript to add more ExternalResources to the main material form %>
<% field_name_prefix = "#{form_name}[bcontributors_attributes][#{index}]" %> <%# This format is dictated by "accepts_nested_attributes_for" %>

<div class="form-inline bcontributor-form" data-index="<%= index -%>">
  <%= hidden_field_tag("#{field_name_prefix}[id]", bcontributor.id) %>



  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[firstname]", bcontributor.firstname, :class => 'form-control bcontributor-firstname', :placeholder => 'first name', :title => 'first name' %>
  </div>

  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[lastname]", bcontributor.lastname, :class => 'form-control bcontributor-lastname', :placeholder => 'last name', :title => 'last name' %>
  </div>
  

  <div class="form-group">
        <%= select_tag "#{field_name_prefix}[contribtype]",  options_for_select(contributortype_options_for_select, bcontributor.contribtype),  :class => 'form-control bcontributor-contribtype'%>        
  </div> 

   
  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[orcid]", bcontributor.orcid, :class => 'form-control bcontributor-orcid', :placeholder => 'ORCID(optional)', :title => 'ORCID(optional)' %>
  </div>  

  
  
  <label class="delete-bcontributor-btn">
    &times;
    <%= hidden_field_tag "#{field_name_prefix}[_destroy]", '0', :autocomplete => 'off' %>
    <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false, :class => 'destroy-attribute', :autocomplete => 'off' %>
  </label>
  


</div>
