<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-8">
       
        <%= mail_to(TeSS::Config.contact_email, 'Contact us') %><br/>
        <%= link_to 'Add your training resources', registering_resources_path, target: '_blank'  %><br/>
        <%= link_to 'Source code', 'https://github.com/pan-training/training-catalogue', target: '_blank' %><br/>
        <%= link_to 'Original version developed by Elixir', 'https://github.com/ElixirTeSS/TeSS', target: '_blank' %><br/>
        <%= link_to 'Funding & acknowledgements', us_path(anchor: 'funding'), target: '_blank' %><br/>
        <%= link_to 'Privacy', privacy_path, target: '_blank' %>
      </div>
      <div class="col-sm-9 col-xs-4">
        <div class="col-sm-7">
          <%= link_to 'http://expands.eu', class: 'footer-logo hidden-xs', target: '_blank' do %>
            <%= image_tag 'expands_long_inverted.png', style: 'height:20pt;width:auto;' %>
          <% end %>
        </div>

        <div class="col-sm-5 text-right">
          <%= link_to 'http://www.hzdr.de', class: 'footer-logo', target: '_blank' do %>
            <%= image_tag 'HZDR-LOGO-Inverted.png', style: 'height:40pt;width:auto;' %>
          <% end %>
          <%= link_to 'https://www.synchrotron-soleil.fr/en', class: 'footer-logo', target: '_blank' do %>
            <%= image_tag 'SOLEIL-LOGO-inverted.png', style: 'height:40pt;width:auto;' %>
          <% end %>
        </div>
        <div class="col-md-12 eu-notice hidden-xs">
          <%= image_tag('eu_flag_inverted.png') %>
          <p style="color:white">The ExPaNDS training catalogue is supported through the <a href="https://ec.europa.eu/programmes/horizon2020/en" target="_blank">European Union's Horizon 2020 research and innovation programme</a>, under grant agreement <a href="https://cordis.europa.eu/project/id/857641" target="_blank">857641</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
