<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-8">
       
        <%= mail_to(TeSS::Config.contact_email, 'Contact us', class: "expands-footer-link") %><br/>
        <%= link_to 'Add your training resources', registering_resources_path, target: '_blank', class: "expands-footer-link"  %><br/>
        <%= link_to 'Source code', 'https://github.com/pan-training/training-catalogue', target: '_blank', class: "expands-footer-link" %><br/>
        <%= link_to 'Original version developed by Elixir', 'https://github.com/ElixirTeSS/TeSS', target: '_blank', class: "expands-footer-link" %><br/>
        <%= link_to 'Funding & acknowledgements', us_path(anchor: 'funding'), target: '_blank', class: "expands-footer-link" %><br/>
        <%= link_to 'Privacy', privacy_path, target: '_blank', class: "expands-footer-link" %>
      </div>
      <div class="col-sm-9 col-xs-4">
        <div class="col-sm-7">
          <%= link_to 'http://expands.eu', class: 'footer-logo hidden-xs', target: '_blank' do %>
            <%= image_tag 'expands_long_inverted.png', style: 'height:20pt;width:auto;' %>
          <% end %>
          <%= link_to 'https://www.panosc.eu', class: 'footer-logo hidden-xs', target: '_blank' do %>
            <%= image_tag 'footer_panosc.png', style: 'height:20pt;width:auto;' %>
          <% end %>
        </div>
        <br></br>

        <div class="col-md-12 eu-notice hidden-xs">
          <%= image_tag('eu_flag_inverted.png') %>
          <p class="expands-footer">The <%= TeSS::Config.generic_name%> is supported through the <a href="https://ec.europa.eu/programmes/horizon2020/en" target="_blank", class="expands-footer-link">European Union's Horizon 2020 research and innovation programme</a>, under grant agreement <a href="https://cordis.europa.eu/project/id/857641" target="_blank", class="expands-footer-link">857641</a> and 
          <a href="https://cordis.europa.eu/project/id/823852" target="_blank", class="expands-footer-link">823852</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
