<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= site_title %></title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.0.1/css/ol.css" />
  <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">  
  <%= stylesheet_link_tag 'application', integrity: true, media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag('favicon.png', :type => 'image/png') %>
  <%= javascript_include_tag 'application', integrity: true, 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ol-geocoder@4.1.2/dist/ol-geocoder.js"></script>  
  <script type="text/javascript" src="https://unpkg.com/ol-popup@4.0.0/dist/ol-popup.js"></script>
  
  <%# signup_js.html_safe -%>
  <%= csrf_meta_tags %>
  <% if TeSS::Config.prevent_robot_indexing %>
      <meta name="robots" content="noindex">
  <% end -%>
  <% if Rails.application.secrets.google_analytics_code %>
      <%= render 'layouts/google_analytics' %>
  <% end %>
  <% if content_for? :og_header %>
      <%= yield :og_header %>
  <% else %>
      <%= render :partial => 'common/default_og' %>
  <% end %>
</head>
